In [2]:
! pip3 install pyspark seaborn pandas
! pip3 install -U scikit-learn scipy matplotlib
import pandas as pd
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
import seaborn as sns

import sys
from pyspark.sql import SparkSession
import argparse
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

Requirement already satisfied: pyspark in /opt/homebrew/lib/python3.11/site-packages (3.3.2)
Requirement already satisfied: seaborn in /opt/homebrew/lib/python3.11/site-packages (0.12.2)
Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: py4j==0.10.9.5 in /opt/homebrew/lib/python3.11/site-packages (from pyspark) (0.10.9.5)
Requirement already satisfied: numpy!=1.24.0,>=1.17 in /opt/homebrew/lib/python3.11/site-packages (from seaborn) (1.24.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in /opt/homebrew/lib/python3.11/site-packages (from seaborn) (3.7.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: six>=1.5 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python3.11 -m pip install --upgrade pip
Requirement already satisfied: scikit-learn in /opt/homebrew/lib/python3.11/site-packages (1.2.2)
Requirement already satisfied: scipy in /opt/homebrew/lib/python3.11/site-packages (1.10.1)
Requirement already satisfied: matplotlib in /opt/homebrew/lib/python3.11/site-packages (3.7.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.24.2)
Requirement already satisfied: joblib>=1.1.1 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.11/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: contourpy>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (1.0.7)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (4.39.3)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (1.4.4)
Requirement already satisfied: packaging>=20.0 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from matplotlib) (23.1)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (9.5.0)
Requirement already satisfied: pyparsing>=2.3.1 in /opt/homebrew/lib/python3.11/site-packages (from matplotlib) (3.0.9)
Requirement already satisfied: python-dateutil>=2.7 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in /Users/emmanuelashaye/Library/Python/3.11/lib/python/site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.1
[notice] To update, run: python3.11 -m pip install --upgrade pip

In [66]:
customers_df = pd.read_csv('./data/customers.csv')
articles_df = pd.read_csv('./data/articles.csv')
transactions_df = pd.read_csv('./data/transactions_train.csv')

### Articles Preprocessing

#### Deduplication

##### Several data points are represented as both nominal and discrete values, 
* Retain only nominal data for processing such as product_type_name, graphical_appearance_name
* Drop discrete data value such as product_type_no, graphical_appearance_no

In [67]:
redundant_columns = [
    'product_code',
    'product_type_no',
    'graphical_appearance_no',
    'colour_group_code',
    'perceived_colour_value_id',
    'perceived_colour_master_id',
    'department_no',
    'index_code',
    'index_group_no',
    'section_no',
    'garment_group_no',
    'detail_desc'
]

articles_df.drop(columns = redundant_columns, axis=1, inplace = True)

##### Article categories can be represetned solely using either index_name or index_group_name
* index_name provides further subcategories
* drop index_group_names

In [68]:
articles_df.groupby(['index_group_name', 'index_name']).count()['article_id']

index_group_name  index_name
Baby/Children     Baby Sizes 50-98                   8875
                  Children Accessories, Swimwear     4615
                  Children Sizes 134-170             9214
                  Children Sizes 92-140             12007
Divided           Divided                           15149
Ladieswear        Ladies Accessories                 6961
                  Ladieswear                        26001
                  Lingeries/Tights                   6775
Menswear          Menswear                          12553
Sport             Sport                              3392
Name: article_id, dtype: int64

In [69]:
articles_df.drop("index_group_name", axis=1, inplace = True)

#### Missing Values

##### Items where the percieved colour, graphical appearance and colour groups are unknown cannot be properly identified as trending
* Drop articles where key characteristic data is `Unknown`,
    * perceived_colour_value_name is `Unknown`
    * graphical_appearance_name is `Unknown`
    * colour_group_name is `Unknown`
    * perceived_colour_master_name is `Unknown`

In [70]:
df = articles_df.loc[(articles_df['perceived_colour_value_name'] == 'Unknown')]
df.groupby(['perceived_colour_value_name', 'perceived_colour_master_name', 'colour_group_name','graphical_appearance_name']).count()['article_id']

perceived_colour_value_name  perceived_colour_master_name  colour_group_name  graphical_appearance_name
Unknown                      Unknown                       Unknown            Unknown                      28
Name: article_id, dtype: int64

In [71]:
articles_df.drop(articles_df.loc[articles_df['perceived_colour_value_name'] == 'Unknown'].index, inplace=True, axis=0)

In [ ]:
articles_df.head()

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name,detail_desc
0,108775015,Strap top,Vest top,Garment Upper body,Solid,Black,Dark,Black,Jersey Basic,Ladieswear,Womens Everyday Basics,Jersey Basic,Jersey top with narrow shoulder straps.
1,108775044,Strap top,Vest top,Garment Upper body,Solid,White,Light,White,Jersey Basic,Ladieswear,Womens Everyday Basics,Jersey Basic,Jersey top with narrow shoulder straps.
2,108775051,Strap top (1),Vest top,Garment Upper body,Stripe,Off White,Dusty Light,White,Jersey Basic,Ladieswear,Womens Everyday Basics,Jersey Basic,Jersey top with narrow shoulder straps.
3,110065001,OP T-shirt (Idro),Bra,Underwear,Solid,Black,Dark,Black,Clean Lingerie,Lingeries/Tights,Womens Lingerie,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."
4,110065002,OP T-shirt (Idro),Bra,Underwear,Solid,White,Light,White,Clean Lingerie,Lingeries/Tights,Womens Lingerie,"Under-, Nightwear","Microfibre T-shirt bra with underwired, moulde..."

#### Consolidation

##### Colour features are split between “color value name” and “color master name” (38 categories in all)
* Consolidate colors as colour_group_name
    * drop perceived_colour_value_name
    *  drop perceived_colour_value_name

In [72]:
articles_df.groupby(['perceived_colour_value_name']).count()['article_id']

perceived_colour_value_name
Bright           6471
Dark            42706
Dusty Light     22152
Light           15739
Medium           5711
Medium Dusty    12630
Undefined         105
Name: article_id, dtype: int64

In [73]:
articles_df.groupby(['perceived_colour_master_name'	]).count()['article_id']

perceived_colour_master_name
Beige               5657
Black              22585
Blue               18469
Bluish Green           3
Brown               2269
Green               3526
Grey                8924
Khaki green         3181
Lilac Purple        1100
Metal               2180
Mole                1223
Orange              2734
Pink                9403
Red                 5878
Turquoise           1829
Unknown              657
White              12665
Yellow              3121
Yellowish Green        5
undefined            105
Name: article_id, dtype: int64

In [75]:
articles_df.groupby(['colour_group_name']).count()['article_id']

colour_group_name
Beige               2712
Black              22670
Blue                3308
Bronze/Copper         94
Dark Beige          1084
Dark Blue          12171
Dark Green          2106
Dark Grey           2731
Dark Orange          886
Dark Pink            818
Dark Purple          315
Dark Red            2340
Dark Turquoise       473
Dark Yellow          574
Gold                1377
Green                815
Greenish Khaki      2767
Grey                4487
Greyish Beige        226
Light Beige         3356
Light Blue          3012
Light Green          681
Light Grey          2105
Light Orange        1520
Light Pink          5811
Light Purple         553
Light Red            285
Light Turquoise     1027
Light Yellow         984
Off White           2726
Orange               779
Other                105
Other Blue            51
Other Green          129
Other Orange         153
Other Pink           750
Other Purple          46
Other Red            114
Other Turquoise       14
Other Yellow         225
Pink                2063
Purple               182
Red                 3056
Silver               709
Transparent           31
Turquoise            435
White               9542
Yellow              1645
Yellowish Brown     1471
Name: article_id, dtype: int64

In [43]:
redundant_colur_columns = [
    'perceived_colour_value_name',
    'perceived_colour_master_name'
]

articles_df.drop(columns = redundant_colur_columns, axis=1, inplace = True)

In [1]:
sns.set_style('whitegrid')
sns.set(rc={"figure.figsize":(100, 100)})
sns.set(font_scale=5)
sns.histplot(articles_df, x="perceived_colour_master_name", y="colour_group_name").set(title='index_group_name vs index_name')

NameError: name 'sns' is not defined

#### Correct Inconsistencies

##### Update all categorical data for consisstency
* lower casing
* removing special characters

In [80]:
for x in articles_df.select_dtypes(include=['object']).columns:
    display(articles_df.groupby(x).count())

,article_id,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
prod_name,,,,,,,,,,,
& denim boyfriend lw denim,2,2,2,2,2,2,2,2,2,2,2
& denim jen bermuda shorts,1,1,1,1,1,1,1,1,1,1,1
&den vintage strt ankle trash,1,1,1,1,1,1,1,1,1,1,1
&denim bootcut rw soho,1,1,1,1,1,1,1,1,1,1,1
&denim bootcut rw speed,1,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...
zuly lace blouse,2,2,2,2,2,2,2,2,2,2,2
zupi hw biker+,1,1,1,1,1,1,1,1,1,1,1
zupi hw biker.,1,1,1,1,1,1,1,1,1,1,1
zurich rollerneck,2,2,2,2,2,2,2,2,2,2,2
åsa dress,1,1,1,1,1,1,1,1,1,1,1

,article_id,prod_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
product_type_name,,,,,,,,,,,
accessories set,7,7,7,7,7,7,7,7,7,7,7
alice band,6,6,6,6,6,6,6,6,6,6,6
baby bib,3,3,3,3,3,3,3,3,3,3,3
backpack,6,6,6,6,6,6,6,6,6,6,6
bag,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280
...,...,...,...,...,...,...,...,...,...,...,...
wedge,113,113,113,113,113,113,113,113,113,113,113
weekend/gym bag,9,9,9,9,9,9,9,9,9,9,9
wireless earphone case,2,2,2,2,2,2,2,2,2,2,2
wood balls,1,1,1,1,1,1,1,1,1,1,1
zipper head,3,3,3,3,3,3,3,3,3,3,3

,article_id,prod_name,product_type_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
product_group_name,,,,,,,,,,,
accessories,11158,11158,11158,11158,11158,11158,11158,11158,11158,11158,11158
bags,25,25,25,25,25,25,25,25,25,25,25
cosmetic,49,49,49,49,49,49,49,49,49,49,49
fun,2,2,2,2,2,2,2,2,2,2,2
furniture,13,13,13,13,13,13,13,13,13,13,13
garment and shoe care,9,9,9,9,9,9,9,9,9,9,9
garment full body,13287,13287,13287,13287,13287,13287,13287,13287,13287,13287,13287
garment lower body,19796,19796,19796,19796,19796,19796,19796,19796,19796,19796,19796
garment upper body,42734,42734,42734,42734,42734,42734,42734,42734,42734,42734,42734
interior textile,3,3,3,3,3,3,3,3,3,3,3
items,17,17,17,17,17,17,17,17,17,17,17
nightwear,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899
shoes,5283,5283,5283,5283,5283,5283,5283,5283,5283,5283,5283
socks & tights,2442,2442,2442,2442,2442,2442,2442,2442,2442,2442,2442
stationery,5,5,5,5,5,5,5,5,5,5,5
swimwear,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127
underwear,5490,5490,5490,5490,5490,5490,5490,5490,5490,5490,5490
underwear/nightwear,54,54,54,54,54,54,54,54,54,54,54
unknown,121,121,121,121,121,121,121,121,121,121,121

,article_id,prod_name,product_type_name,product_group_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
graphical_appearance_name,,,,,,,,,,,
all over pattern,17165,17165,17165,17165,17165,17165,17165,17165,17165,17165,17165
application/3d,1341,1341,1341,1341,1341,1341,1341,1341,1341,1341,1341
argyle,15,15,15,15,15,15,15,15,15,15,15
chambray,322,322,322,322,322,322,322,322,322,322,322
check,2178,2178,2178,2178,2178,2178,2178,2178,2178,2178,2178
colour blocking,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830
contrast,376,376,376,376,376,376,376,376,376,376,376
denim,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842
dot,681,681,681,681,681,681,681,681,681,681,681
embroidery,1165,1165,1165,1165,1165,1165,1165,1165,1165,1165,1165
front print,3215,3215,3215,3215,3215,3215,3215,3215,3215,3215,3215
glittering/metallic,958,958,958,958,958,958,958,958,958,958,958
hologram,8,8,8,8,8,8,8,8,8,8,8
jacquard,830,830,830,830,830,830,830,830,830,830,830
lace,1513,1513,1513,1513,1513,1513,1513,1513,1513,1513,1513
melange,5938,5938,5938,5938,5938,5938,5938,5938,5938,5938,5938
mesh,86,86,86,86,86,86,86,86,86,86,86
metallic,346,346,346,346,346,346,346,346,346,346,346
mixed solid/pattern,1132,1132,1132,1132,1132,1132,1132,1132,1132,1132,1132
neps,66,66,66,66,66,66,66,66,66,66,66
other pattern,515,515,515,515,515,515,515,515,515,515,515
other structure,1502,1502,1502,1502,1502,1502,1502,1502,1502,1502,1502
placement print,3098,3098,3098,3098,3098,3098,3098,3098,3098,3098,3098
sequin,806,806,806,806,806,806,806,806,806,806,806
slub,153,153,153,153,153,153,153,153,153,153,153
solid,49747,49747,49747,49747,49747,49747,49747,49747,49747,49747,49747
stripe,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990
transparent,86,86,86,86,86,86,86,86,86,86,86
treatment,586,586,586,586,586,586,586,586,586,586,586
unknown,24,24,24,24,24,24,24,24,24,24,24

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
colour_group_name,,,,,,,,,,,
beige,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712
black,22670,22670,22670,22670,22670,22670,22670,22670,22670,22670,22670
blue,3308,3308,3308,3308,3308,3308,3308,3308,3308,3308,3308
bronze/copper,94,94,94,94,94,94,94,94,94,94,94
dark beige,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084
dark blue,12171,12171,12171,12171,12171,12171,12171,12171,12171,12171,12171
dark green,2106,2106,2106,2106,2106,2106,2106,2106,2106,2106,2106
dark grey,2731,2731,2731,2731,2731,2731,2731,2731,2731,2731,2731
dark orange,886,886,886,886,886,886,886,886,886,886,886
dark pink,818,818,818,818,818,818,818,818,818,818,818
dark purple,315,315,315,315,315,315,315,315,315,315,315
dark red,2340,2340,2340,2340,2340,2340,2340,2340,2340,2340,2340
dark turquoise,473,473,473,473,473,473,473,473,473,473,473
dark yellow,574,574,574,574,574,574,574,574,574,574,574
gold,1377,1377,1377,1377,1377,1377,1377,1377,1377,1377,1377
green,815,815,815,815,815,815,815,815,815,815,815
greenish khaki,2767,2767,2767,2767,2767,2767,2767,2767,2767,2767,2767
grey,4487,4487,4487,4487,4487,4487,4487,4487,4487,4487,4487
greyish beige,226,226,226,226,226,226,226,226,226,226,226
light beige,3356,3356,3356,3356,3356,3356,3356,3356,3356,3356,3356
light blue,3012,3012,3012,3012,3012,3012,3012,3012,3012,3012,3012
light green,681,681,681,681,681,681,681,681,681,681,681
light grey,2105,2105,2105,2105,2105,2105,2105,2105,2105,2105,2105
light orange,1520,1520,1520,1520,1520,1520,1520,1520,1520,1520,1520
light pink,5811,5811,5811,5811,5811,5811,5811,5811,5811,5811,5811
light purple,553,553,553,553,553,553,553,553,553,553,553
light red,285,285,285,285,285,285,285,285,285,285,285
light turquoise,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027
light yellow,984,984,984,984,984,984,984,984,984,984,984
off white,2726,2726,2726,2726,2726,2726,2726,2726,2726,2726,2726
orange,779,779,779,779,779,779,779,779,779,779,779
other,105,105,105,105,105,105,105,105,105,105,105
other blue,51,51,51,51,51,51,51,51,51,51,51
other green,129,129,129,129,129,129,129,129,129,129,129
other orange,153,153,153,153,153,153,153,153,153,153,153
other pink,750,750,750,750,750,750,750,750,750,750,750
other purple,46,46,46,46,46,46,46,46,46,46,46
other red,114,114,114,114,114,114,114,114,114,114,114
other turquoise,14,14,14,14,14,14,14,14,14,14,14
other yellow,225,225,225,225,225,225,225,225,225,225,225
pink,2063,2063,2063,2063,2063,2063,2063,2063,2063,2063,2063
purple,182,182,182,182,182,182,182,182,182,182,182
red,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056
silver,709,709,709,709,709,709,709,709,709,709,709
transparent,31,31,31,31,31,31,31,31,31,31,31
turquoise,435,435,435,435,435,435,435,435,435,435,435
white,9542,9542,9542,9542,9542,9542,9542,9542,9542,9542,9542
yellow,1645,1645,1645,1645,1645,1645,1645,1645,1645,1645,1645
yellowish brown,1471,1471,1471,1471,1471,1471,1471,1471,1471,1471,1471

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
perceived_colour_value_name,,,,,,,,,,,
bright,6471,6471,6471,6471,6471,6471,6471,6471,6471,6471,6471
dark,42706,42706,42706,42706,42706,42706,42706,42706,42706,42706,42706
dusty light,22152,22152,22152,22152,22152,22152,22152,22152,22152,22152,22152
light,15739,15739,15739,15739,15739,15739,15739,15739,15739,15739,15739
medium,5711,5711,5711,5711,5711,5711,5711,5711,5711,5711,5711
medium dusty,12630,12630,12630,12630,12630,12630,12630,12630,12630,12630,12630
undefined,105,105,105,105,105,105,105,105,105,105,105

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,section_name,garment_group_name
perceived_colour_master_name,,,,,,,,,,,
beige,5657,5657,5657,5657,5657,5657,5657,5657,5657,5657,5657
black,22585,22585,22585,22585,22585,22585,22585,22585,22585,22585,22585
blue,18469,18469,18469,18469,18469,18469,18469,18469,18469,18469,18469
bluish green,3,3,3,3,3,3,3,3,3,3,3
brown,2269,2269,2269,2269,2269,2269,2269,2269,2269,2269,2269
green,3526,3526,3526,3526,3526,3526,3526,3526,3526,3526,3526
grey,8924,8924,8924,8924,8924,8924,8924,8924,8924,8924,8924
khaki green,3181,3181,3181,3181,3181,3181,3181,3181,3181,3181,3181
lilac purple,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100
metal,2180,2180,2180,2180,2180,2180,2180,2180,2180,2180,2180
mole,1223,1223,1223,1223,1223,1223,1223,1223,1223,1223,1223
orange,2734,2734,2734,2734,2734,2734,2734,2734,2734,2734,2734
pink,9403,9403,9403,9403,9403,9403,9403,9403,9403,9403,9403
red,5878,5878,5878,5878,5878,5878,5878,5878,5878,5878,5878
turquoise,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829
undefined,105,105,105,105,105,105,105,105,105,105,105
unknown,657,657,657,657,657,657,657,657,657,657,657
white,12665,12665,12665,12665,12665,12665,12665,12665,12665,12665,12665
yellow,3121,3121,3121,3121,3121,3121,3121,3121,3121,3121,3121
yellowish green,5,5,5,5,5,5,5,5,5,5,5

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,index_name,section_name,garment_group_name
department_name,,,,,,,,,,,
accessories,694,694,694,694,694,694,694,694,694,694,694
accessories boys,10,10,10,10,10,10,10,10,10,10,10
accessories other,1,1,1,1,1,1,1,1,1,1,1
ak bottoms,90,90,90,90,90,90,90,90,90,90,90
ak dresses & outdoor,87,87,87,87,87,87,87,87,87,87,87
...,...,...,...,...,...,...,...,...,...,...,...
young girl s&t,173,173,173,173,173,173,173,173,173,173,173
young girl shoes,287,287,287,287,287,287,287,287,287,287,287
young girl swimwear,175,175,175,175,175,175,175,175,175,175,175
young girl trouser,408,408,408,408,408,408,408,408,408,408,408
young girl uw/nw,499,499,499,499,499,499,499,499,499,499,499

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,section_name,garment_group_name
index_name,,,,,,,,,,,
baby sizes 50-98,8875,8875,8875,8875,8875,8875,8875,8875,8875,8875,8875
"children accessories, swimwear",4615,4615,4615,4615,4615,4615,4615,4615,4615,4615,4615
children sizes 134-170,9214,9214,9214,9214,9214,9214,9214,9214,9214,9214,9214
children sizes 92-140,12007,12007,12007,12007,12007,12007,12007,12007,12007,12007,12007
divided,15149,15149,15149,15149,15149,15149,15149,15149,15149,15149,15149
ladies accessories,6961,6961,6961,6961,6961,6961,6961,6961,6961,6961,6961
ladieswear,25979,25979,25979,25979,25979,25979,25979,25979,25979,25979,25979
lingeries/tights,6775,6775,6775,6775,6775,6775,6775,6775,6775,6775,6775
menswear,12547,12547,12547,12547,12547,12547,12547,12547,12547,12547,12547
sport,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,garment_group_name
section_name,,,,,,,,,,,
baby boy,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717
baby essentials & complements,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
baby girl,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760
boys underwear & basics,2034,2034,2034,2034,2034,2034,2034,2034,2034,2034,2034
collaborations,559,559,559,559,559,559,559,559,559,559,559
contemporary casual,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559
contemporary smart,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778
contemporary street,1486,1486,1486,1486,1486,1486,1486,1486,1486,1486,1486
denim men,521,521,521,521,521,521,521,521,521,521,521
divided accessories,1732,1732,1732,1732,1732,1732,1732,1732,1732,1732,1732
divided asia keys,280,280,280,280,280,280,280,280,280,280,280
divided basics,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723
divided collection,7124,7124,7124,7124,7124,7124,7124,7124,7124,7124,7124
divided complements other,35,35,35,35,35,35,35,35,35,35,35
divided projects,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364
divided selected,991,991,991,991,991,991,991,991,991,991,991
eq divided,26,26,26,26,26,26,26,26,26,26,26
girls underwear & basics,3490,3490,3490,3490,3490,3490,3490,3490,3490,3490,3490
h&m+,2337,2337,2337,2337,2337,2337,2337,2337,2337,2337,2337
kids & baby shoes,2142,2142,2142,2142,2142,2142,2142,2142,2142,2142,2142
"kids accessories, swimwear & d",1731,1731,1731,1731,1731,1731,1731,1731,1731,1731,1731
kids boy,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328
kids girl,4469,4469,4469,4469,4469,4469,4469,4469,4469,4469,4469
kids local relevance,192,192,192,192,192,192,192,192,192,192,192
kids outerwear,2665,2665,2665,2665,2665,2665,2665,2665,2665,2665,2665
kids sports,626,626,626,626,626,626,626,626,626,626,626
ladies denim,1101,1101,1101,1101,1101,1101,1101,1101,1101,1101,1101
ladies h&m sport,1894,1894,1894,1894,1894,1894,1894,1894,1894,1894,1894
ladies other,4,4,4,4,4,4,4,4,4,4,4
mama,2266,2266,2266,2266,2266,2266,2266,2266,2266,2266,2266
men accessories,1337,1337,1337,1337,1337,1337,1337,1337,1337,1337,1337
men edition,330,330,330,330,330,330,330,330,330,330,330
men h&m sport,872,872,872,872,872,872,872,872,872,872,872
men other,25,25,25,25,25,25,25,25,25,25,25
men other 2,190,190,190,190,190,190,190,190,190,190,190
men project,297,297,297,297,297,297,297,297,297,297,297
men shoes,645,645,645,645,645,645,645,645,645,645,645
men suits & tailoring,1428,1428,1428,1428,1428,1428,1428,1428,1428,1428,1428
men underwear,2322,2322,2322,2322,2322,2322,2322,2322,2322,2322,2322
mens outerwear,629,629,629,629,629,629,629,629,629,629,629
special collections,682,682,682,682,682,682,682,682,682,682,682
womens big accessories,1665,1665,1665,1665,1665,1665,1665,1665,1665,1665,1665
womens casual,2725,2725,2725,2725,2725,2725,2725,2725,2725,2725,2725
womens everyday basics,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581
womens everyday collection,7275,7275,7275,7275,7275,7275,7275,7275,7275,7275,7275
womens jackets,829,829,829,829,829,829,829,829,829,829,829
womens lingerie,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
"womens nightwear, socks & tigh",1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566
womens premium,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270
womens shoes,2026,2026,2026,2026,2026,2026,2026,2026,2026,2026,2026
womens small accessories,3270,3270,3270,3270,3270,3270,3270,3270,3270,3270,3270
"womens swimwear, beachwear",1839,1839,1839,1839,1839,1839,1839,1839,1839,1839,1839
womens tailoring,3374,3374,3374,3374,3374,3374,3374,3374,3374,3374,3374
womens trend,2622,2622,2622,2622,2622,2622,2622,2622,2622,2622,2622
young boy,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352
young girl,3899,3899,3899,3899,3899,3899,3899,3899,3899,3899,3899

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name
garment_group_name,,,,,,,,,,,
accessories,11519,11519,11519,11519,11519,11519,11519,11519,11519,11519,11519
blouses,5837,5837,5837,5837,5837,5837,5837,5837,5837,5837,5837
dressed,908,908,908,908,908,908,908,908,908,908,908
dresses ladies,4874,4874,4874,4874,4874,4874,4874,4874,4874,4874,4874
dresses/skirts girls,1541,1541,1541,1541,1541,1541,1541,1541,1541,1541,1541
jersey basic,8126,8126,8126,8126,8126,8126,8126,8126,8126,8126,8126
jersey fancy,21443,21443,21443,21443,21443,21443,21443,21443,21443,21443,21443
knitwear,7489,7489,7489,7489,7489,7489,7489,7489,7489,7489,7489
outdoor,4501,4501,4501,4501,4501,4501,4501,4501,4501,4501,4501
shirts,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114
shoes,5145,5145,5145,5145,5145,5145,5145,5145,5145,5145,5145
shorts,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559
skirts,1254,1254,1254,1254,1254,1254,1254,1254,1254,1254,1254
socks and tights,2272,2272,2272,2272,2272,2272,2272,2272,2272,2272,2272
special offers,1061,1061,1061,1061,1061,1061,1061,1061,1061,1061,1061
swimwear,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787
trousers,6726,6726,6726,6726,6726,6726,6726,6726,6726,6726,6726
trousers denim,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
"under-, nightwear",7441,7441,7441,7441,7441,7441,7441,7441,7441,7441,7441
unknown,3852,3852,3852,3852,3852,3852,3852,3852,3852,3852,3852
woven/jersey/knitted mix baby,1965,1965,1965,1965,1965,1965,1965,1965,1965,1965,1965

In [79]:
articles_df = articles_df.applymap( 
    lambda s: s.lower() if type(s) == str else s)

In [90]:
spec_chars = ["/", "-", ",", "&", ".", "+"]

for char in spec_chars:
    articles_df = articles_df.applymap( 
            lambda s: s.replace(char, ' ')
            if type(s) == str else s)

In [91]:
articles_df = articles_df.applymap( 
    lambda s: '_'.join(s.split())
    if type(s) == str else s)

In [92]:
for x in articles_df.select_dtypes(include=['object']).columns:
    display(articles_df.groupby(x).count())

,article_id,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
prod_name,,,,,,,,,,,
100_den_3p_kneehighs,1,1,1,1,1,1,1,1,1,1,1
10_pk_fancy,5,5,5,5,5,5,5,5,5,5,5
10_pk_invisible_sock,1,1,1,1,1,1,1,1,1,1,1
10_pk_rib,1,1,1,1,1,1,1,1,1,1,1
10p_basic_socks,2,2,2,2,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...
zulu_sweater,39,39,39,39,39,39,39,39,39,39,39
zuly_lace_blouse,2,2,2,2,2,2,2,2,2,2,2
zupi_hw_biker,2,2,2,2,2,2,2,2,2,2,2
zurich_rollerneck,2,2,2,2,2,2,2,2,2,2,2
åsa_dress,1,1,1,1,1,1,1,1,1,1,1

,article_id,prod_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
product_type_name,,,,,,,,,,,
accessories_set,7,7,7,7,7,7,7,7,7,7,7
alice_band,6,6,6,6,6,6,6,6,6,6,6
baby_bib,3,3,3,3,3,3,3,3,3,3,3
backpack,6,6,6,6,6,6,6,6,6,6,6
bag,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280,1280
...,...,...,...,...,...,...,...,...,...,...,...
wedge,113,113,113,113,113,113,113,113,113,113,113
weekend_gym_bag,9,9,9,9,9,9,9,9,9,9,9
wireless_earphone_case,2,2,2,2,2,2,2,2,2,2,2
wood_balls,1,1,1,1,1,1,1,1,1,1,1
zipper_head,3,3,3,3,3,3,3,3,3,3,3

,article_id,prod_name,product_type_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
product_group_name,,,,,,,,,,,
accessories,11158,11158,11158,11158,11158,11158,11158,11158,11158,11158,11158
bags,25,25,25,25,25,25,25,25,25,25,25
cosmetic,49,49,49,49,49,49,49,49,49,49,49
fun,2,2,2,2,2,2,2,2,2,2,2
furniture,13,13,13,13,13,13,13,13,13,13,13
garment_and_shoe_care,9,9,9,9,9,9,9,9,9,9,9
garment_full_body,13287,13287,13287,13287,13287,13287,13287,13287,13287,13287,13287
garment_lower_body,19796,19796,19796,19796,19796,19796,19796,19796,19796,19796,19796
garment_upper_body,42734,42734,42734,42734,42734,42734,42734,42734,42734,42734,42734
interior_textile,3,3,3,3,3,3,3,3,3,3,3
items,17,17,17,17,17,17,17,17,17,17,17
nightwear,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899,1899
shoes,5283,5283,5283,5283,5283,5283,5283,5283,5283,5283,5283
socks_tights,2442,2442,2442,2442,2442,2442,2442,2442,2442,2442,2442
stationery,5,5,5,5,5,5,5,5,5,5,5
swimwear,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127,3127
underwear,5490,5490,5490,5490,5490,5490,5490,5490,5490,5490,5490
underwear_nightwear,54,54,54,54,54,54,54,54,54,54,54
unknown,121,121,121,121,121,121,121,121,121,121,121

,article_id,prod_name,product_type_name,product_group_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
graphical_appearance_name,,,,,,,,,,,
all_over_pattern,17165,17165,17165,17165,17165,17165,17165,17165,17165,17165,17165
application_3d,1341,1341,1341,1341,1341,1341,1341,1341,1341,1341,1341
argyle,15,15,15,15,15,15,15,15,15,15,15
chambray,322,322,322,322,322,322,322,322,322,322,322
check,2178,2178,2178,2178,2178,2178,2178,2178,2178,2178,2178
colour_blocking,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830,1830
contrast,376,376,376,376,376,376,376,376,376,376,376
denim,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842,4842
dot,681,681,681,681,681,681,681,681,681,681,681
embroidery,1165,1165,1165,1165,1165,1165,1165,1165,1165,1165,1165
front_print,3215,3215,3215,3215,3215,3215,3215,3215,3215,3215,3215
glittering_metallic,958,958,958,958,958,958,958,958,958,958,958
hologram,8,8,8,8,8,8,8,8,8,8,8
jacquard,830,830,830,830,830,830,830,830,830,830,830
lace,1513,1513,1513,1513,1513,1513,1513,1513,1513,1513,1513
melange,5938,5938,5938,5938,5938,5938,5938,5938,5938,5938,5938
mesh,86,86,86,86,86,86,86,86,86,86,86
metallic,346,346,346,346,346,346,346,346,346,346,346
mixed_solid_pattern,1132,1132,1132,1132,1132,1132,1132,1132,1132,1132,1132
neps,66,66,66,66,66,66,66,66,66,66,66
other_pattern,515,515,515,515,515,515,515,515,515,515,515
other_structure,1502,1502,1502,1502,1502,1502,1502,1502,1502,1502,1502
placement_print,3098,3098,3098,3098,3098,3098,3098,3098,3098,3098,3098
sequin,806,806,806,806,806,806,806,806,806,806,806
slub,153,153,153,153,153,153,153,153,153,153,153
solid,49747,49747,49747,49747,49747,49747,49747,49747,49747,49747,49747
stripe,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990,4990
transparent,86,86,86,86,86,86,86,86,86,86,86
treatment,586,586,586,586,586,586,586,586,586,586,586
unknown,24,24,24,24,24,24,24,24,24,24,24

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
colour_group_name,,,,,,,,,,,
beige,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712,2712
black,22670,22670,22670,22670,22670,22670,22670,22670,22670,22670,22670
blue,3308,3308,3308,3308,3308,3308,3308,3308,3308,3308,3308
bronze_copper,94,94,94,94,94,94,94,94,94,94,94
dark_beige,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084,1084
dark_blue,12171,12171,12171,12171,12171,12171,12171,12171,12171,12171,12171
dark_green,2106,2106,2106,2106,2106,2106,2106,2106,2106,2106,2106
dark_grey,2731,2731,2731,2731,2731,2731,2731,2731,2731,2731,2731
dark_orange,886,886,886,886,886,886,886,886,886,886,886
dark_pink,818,818,818,818,818,818,818,818,818,818,818
dark_purple,315,315,315,315,315,315,315,315,315,315,315
dark_red,2340,2340,2340,2340,2340,2340,2340,2340,2340,2340,2340
dark_turquoise,473,473,473,473,473,473,473,473,473,473,473
dark_yellow,574,574,574,574,574,574,574,574,574,574,574
gold,1377,1377,1377,1377,1377,1377,1377,1377,1377,1377,1377
green,815,815,815,815,815,815,815,815,815,815,815
greenish_khaki,2767,2767,2767,2767,2767,2767,2767,2767,2767,2767,2767
grey,4487,4487,4487,4487,4487,4487,4487,4487,4487,4487,4487
greyish_beige,226,226,226,226,226,226,226,226,226,226,226
light_beige,3356,3356,3356,3356,3356,3356,3356,3356,3356,3356,3356
light_blue,3012,3012,3012,3012,3012,3012,3012,3012,3012,3012,3012
light_green,681,681,681,681,681,681,681,681,681,681,681
light_grey,2105,2105,2105,2105,2105,2105,2105,2105,2105,2105,2105
light_orange,1520,1520,1520,1520,1520,1520,1520,1520,1520,1520,1520
light_pink,5811,5811,5811,5811,5811,5811,5811,5811,5811,5811,5811
light_purple,553,553,553,553,553,553,553,553,553,553,553
light_red,285,285,285,285,285,285,285,285,285,285,285
light_turquoise,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027,1027
light_yellow,984,984,984,984,984,984,984,984,984,984,984
off_white,2726,2726,2726,2726,2726,2726,2726,2726,2726,2726,2726
orange,779,779,779,779,779,779,779,779,779,779,779
other,105,105,105,105,105,105,105,105,105,105,105
other_blue,51,51,51,51,51,51,51,51,51,51,51
other_green,129,129,129,129,129,129,129,129,129,129,129
other_orange,153,153,153,153,153,153,153,153,153,153,153
other_pink,750,750,750,750,750,750,750,750,750,750,750
other_purple,46,46,46,46,46,46,46,46,46,46,46
other_red,114,114,114,114,114,114,114,114,114,114,114
other_turquoise,14,14,14,14,14,14,14,14,14,14,14
other_yellow,225,225,225,225,225,225,225,225,225,225,225
pink,2063,2063,2063,2063,2063,2063,2063,2063,2063,2063,2063
purple,182,182,182,182,182,182,182,182,182,182,182
red,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056,3056
silver,709,709,709,709,709,709,709,709,709,709,709
transparent,31,31,31,31,31,31,31,31,31,31,31
turquoise,435,435,435,435,435,435,435,435,435,435,435
white,9542,9542,9542,9542,9542,9542,9542,9542,9542,9542,9542
yellow,1645,1645,1645,1645,1645,1645,1645,1645,1645,1645,1645
yellowish_brown,1471,1471,1471,1471,1471,1471,1471,1471,1471,1471,1471

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
perceived_colour_value_name,,,,,,,,,,,
bright,6471,6471,6471,6471,6471,6471,6471,6471,6471,6471,6471
dark,42706,42706,42706,42706,42706,42706,42706,42706,42706,42706,42706
dusty_light,22152,22152,22152,22152,22152,22152,22152,22152,22152,22152,22152
light,15739,15739,15739,15739,15739,15739,15739,15739,15739,15739,15739
medium,5711,5711,5711,5711,5711,5711,5711,5711,5711,5711,5711
medium_dusty,12630,12630,12630,12630,12630,12630,12630,12630,12630,12630,12630
undefined,105,105,105,105,105,105,105,105,105,105,105

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,department_name,index_name,section_name,garment_group_name
perceived_colour_master_name,,,,,,,,,,,
beige,5657,5657,5657,5657,5657,5657,5657,5657,5657,5657,5657
black,22585,22585,22585,22585,22585,22585,22585,22585,22585,22585,22585
blue,18469,18469,18469,18469,18469,18469,18469,18469,18469,18469,18469
bluish_green,3,3,3,3,3,3,3,3,3,3,3
brown,2269,2269,2269,2269,2269,2269,2269,2269,2269,2269,2269
green,3526,3526,3526,3526,3526,3526,3526,3526,3526,3526,3526
grey,8924,8924,8924,8924,8924,8924,8924,8924,8924,8924,8924
khaki_green,3181,3181,3181,3181,3181,3181,3181,3181,3181,3181,3181
lilac_purple,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100,1100
metal,2180,2180,2180,2180,2180,2180,2180,2180,2180,2180,2180
mole,1223,1223,1223,1223,1223,1223,1223,1223,1223,1223,1223
orange,2734,2734,2734,2734,2734,2734,2734,2734,2734,2734,2734
pink,9403,9403,9403,9403,9403,9403,9403,9403,9403,9403,9403
red,5878,5878,5878,5878,5878,5878,5878,5878,5878,5878,5878
turquoise,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829,1829
undefined,105,105,105,105,105,105,105,105,105,105,105
unknown,657,657,657,657,657,657,657,657,657,657,657
white,12665,12665,12665,12665,12665,12665,12665,12665,12665,12665,12665
yellow,3121,3121,3121,3121,3121,3121,3121,3121,3121,3121,3121
yellowish_green,5,5,5,5,5,5,5,5,5,5,5

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,index_name,section_name,garment_group_name
department_name,,,,,,,,,,,
accessories,694,694,694,694,694,694,694,694,694,694,694
accessories_boys,10,10,10,10,10,10,10,10,10,10,10
accessories_other,1,1,1,1,1,1,1,1,1,1,1
ak_bottoms,90,90,90,90,90,90,90,90,90,90,90
ak_dresses_outdoor,87,87,87,87,87,87,87,87,87,87,87
...,...,...,...,...,...,...,...,...,...,...,...
young_girl_s_t,173,173,173,173,173,173,173,173,173,173,173
young_girl_shoes,287,287,287,287,287,287,287,287,287,287,287
young_girl_swimwear,175,175,175,175,175,175,175,175,175,175,175
young_girl_trouser,408,408,408,408,408,408,408,408,408,408,408
young_girl_uw_nw,499,499,499,499,499,499,499,499,499,499,499

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,section_name,garment_group_name
index_name,,,,,,,,,,,
baby_sizes_50_98,8875,8875,8875,8875,8875,8875,8875,8875,8875,8875,8875
children_accessories_swimwear,4615,4615,4615,4615,4615,4615,4615,4615,4615,4615,4615
children_sizes_134_170,9214,9214,9214,9214,9214,9214,9214,9214,9214,9214,9214
children_sizes_92_140,12007,12007,12007,12007,12007,12007,12007,12007,12007,12007,12007
divided,15149,15149,15149,15149,15149,15149,15149,15149,15149,15149,15149
ladies_accessories,6961,6961,6961,6961,6961,6961,6961,6961,6961,6961,6961
ladieswear,25979,25979,25979,25979,25979,25979,25979,25979,25979,25979,25979
lingeries_tights,6775,6775,6775,6775,6775,6775,6775,6775,6775,6775,6775
menswear,12547,12547,12547,12547,12547,12547,12547,12547,12547,12547,12547
sport,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392,3392

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,garment_group_name
section_name,,,,,,,,,,,
baby_boy,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717,1717
baby_essentials_complements,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932,4932
baby_girl,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760,1760
boys_underwear_basics,2034,2034,2034,2034,2034,2034,2034,2034,2034,2034,2034
collaborations,559,559,559,559,559,559,559,559,559,559,559
contemporary_casual,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559
contemporary_smart,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778,1778
contemporary_street,1486,1486,1486,1486,1486,1486,1486,1486,1486,1486,1486
denim_men,521,521,521,521,521,521,521,521,521,521,521
divided_accessories,1732,1732,1732,1732,1732,1732,1732,1732,1732,1732,1732
divided_asia_keys,280,280,280,280,280,280,280,280,280,280,280
divided_basics,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723,1723
divided_collection,7124,7124,7124,7124,7124,7124,7124,7124,7124,7124,7124
divided_complements_other,35,35,35,35,35,35,35,35,35,35,35
divided_projects,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364,2364
divided_selected,991,991,991,991,991,991,991,991,991,991,991
eq_divided,26,26,26,26,26,26,26,26,26,26,26
girls_underwear_basics,3490,3490,3490,3490,3490,3490,3490,3490,3490,3490,3490
h_m,2337,2337,2337,2337,2337,2337,2337,2337,2337,2337,2337
kids_accessories_swimwear_d,1731,1731,1731,1731,1731,1731,1731,1731,1731,1731,1731
kids_baby_shoes,2142,2142,2142,2142,2142,2142,2142,2142,2142,2142,2142
kids_boy,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328,3328
kids_girl,4469,4469,4469,4469,4469,4469,4469,4469,4469,4469,4469
kids_local_relevance,192,192,192,192,192,192,192,192,192,192,192
kids_outerwear,2665,2665,2665,2665,2665,2665,2665,2665,2665,2665,2665
kids_sports,626,626,626,626,626,626,626,626,626,626,626
ladies_denim,1101,1101,1101,1101,1101,1101,1101,1101,1101,1101,1101
ladies_h_m_sport,1894,1894,1894,1894,1894,1894,1894,1894,1894,1894,1894
ladies_other,4,4,4,4,4,4,4,4,4,4,4
mama,2266,2266,2266,2266,2266,2266,2266,2266,2266,2266,2266
men_accessories,1337,1337,1337,1337,1337,1337,1337,1337,1337,1337,1337
men_edition,330,330,330,330,330,330,330,330,330,330,330
men_h_m_sport,872,872,872,872,872,872,872,872,872,872,872
men_other,25,25,25,25,25,25,25,25,25,25,25
men_other_2,190,190,190,190,190,190,190,190,190,190,190
men_project,297,297,297,297,297,297,297,297,297,297,297
men_shoes,645,645,645,645,645,645,645,645,645,645,645
men_suits_tailoring,1428,1428,1428,1428,1428,1428,1428,1428,1428,1428,1428
men_underwear,2322,2322,2322,2322,2322,2322,2322,2322,2322,2322,2322
mens_outerwear,629,629,629,629,629,629,629,629,629,629,629
special_collections,682,682,682,682,682,682,682,682,682,682,682
womens_big_accessories,1665,1665,1665,1665,1665,1665,1665,1665,1665,1665,1665
womens_casual,2725,2725,2725,2725,2725,2725,2725,2725,2725,2725,2725
womens_everyday_basics,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581,1581
womens_everyday_collection,7275,7275,7275,7275,7275,7275,7275,7275,7275,7275,7275
womens_jackets,829,829,829,829,829,829,829,829,829,829,829
womens_lingerie,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598,3598
womens_nightwear_socks_tigh,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566,1566
womens_premium,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270,1270
womens_shoes,2026,2026,2026,2026,2026,2026,2026,2026,2026,2026,2026
womens_small_accessories,3270,3270,3270,3270,3270,3270,3270,3270,3270,3270,3270
womens_swimwear_beachwear,1839,1839,1839,1839,1839,1839,1839,1839,1839,1839,1839
womens_tailoring,3374,3374,3374,3374,3374,3374,3374,3374,3374,3374,3374
womens_trend,2622,2622,2622,2622,2622,2622,2622,2622,2622,2622,2622
young_boy,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352,2352
young_girl,3899,3899,3899,3899,3899,3899,3899,3899,3899,3899,3899

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name
garment_group_name,,,,,,,,,,,
accessories,11519,11519,11519,11519,11519,11519,11519,11519,11519,11519,11519
blouses,5837,5837,5837,5837,5837,5837,5837,5837,5837,5837,5837
dressed,908,908,908,908,908,908,908,908,908,908,908
dresses_ladies,4874,4874,4874,4874,4874,4874,4874,4874,4874,4874,4874
dresses_skirts_girls,1541,1541,1541,1541,1541,1541,1541,1541,1541,1541,1541
jersey_basic,8126,8126,8126,8126,8126,8126,8126,8126,8126,8126,8126
jersey_fancy,21443,21443,21443,21443,21443,21443,21443,21443,21443,21443,21443
knitwear,7489,7489,7489,7489,7489,7489,7489,7489,7489,7489,7489
outdoor,4501,4501,4501,4501,4501,4501,4501,4501,4501,4501,4501
shirts,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114,2114
shoes,5145,5145,5145,5145,5145,5145,5145,5145,5145,5145,5145
shorts,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559,1559
skirts,1254,1254,1254,1254,1254,1254,1254,1254,1254,1254,1254
socks_and_tights,2272,2272,2272,2272,2272,2272,2272,2272,2272,2272,2272
special_offers,1061,1061,1061,1061,1061,1061,1061,1061,1061,1061,1061
swimwear,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787,2787
trousers,6726,6726,6726,6726,6726,6726,6726,6726,6726,6726,6726
trousers_denim,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100,3100
under_nightwear,7441,7441,7441,7441,7441,7441,7441,7441,7441,7441,7441
unknown,3852,3852,3852,3852,3852,3852,3852,3852,3852,3852,3852
woven_jersey_knitted_mix_baby,1965,1965,1965,1965,1965,1965,1965,1965,1965,1965,1965

In [33]:
articles_df.head(100)

,article_id,prod_name,product_type_name,product_group_name,graphical_appearance_name,colour_group_name,perceived_colour_value_name,perceived_colour_master_name,department_name,index_name,section_name,garment_group_name
0,108775015,strap_top,vest_top,garment_upper_body,solid,black,dark,black,jersey_basic,ladieswear,womens_everyday_basics,jersey_basic
1,108775044,strap_top,vest_top,garment_upper_body,solid,white,light,white,jersey_basic,ladieswear,womens_everyday_basics,jersey_basic
2,108775051,strap_top_(1),vest_top,garment_upper_body,stripe,off_white,dusty_light,white,jersey_basic,ladieswear,womens_everyday_basics,jersey_basic
3,110065001,op_t_shirt_(idro),bra,underwear,solid,black,dark,black,clean_lingerie,lingeries_tights,womens_lingerie,under__nightwear
4,110065002,op_t_shirt_(idro),bra,underwear,solid,white,light,white,clean_lingerie,lingeries_tights,womens_lingerie,under__nightwear
...,...,...,...,...,...,...,...,...,...,...,...,...
95,174057037,fleece_pyjama,pyjama_jumpsuit_playsuit,nightwear,stripe,dark_blue,dark,blue,baby_nightwear,baby_sizes_50_98,baby_essentials_&_complements,under__nightwear
96,174057038,fleece_pyjama,pyjama_jumpsuit_playsuit,nightwear,stripe,light_pink,dusty_light,pink,baby_nightwear,baby_sizes_50_98,baby_essentials_&_complements,under__nightwear
97,174057039,fleece_pyjama,pyjama_jumpsuit_playsuit,nightwear,dot,dark_blue,dark,blue,baby_nightwear,baby_sizes_50_98,baby_essentials_&_complements,under__nightwear
98,174057040,fleece_pyjama,pyjama_jumpsuit_playsuit,nightwear,dot,light_pink,dusty_light,pink,baby_nightwear,baby_sizes_50_98,baby_essentials_&_complements,under__nightwear
99,176209023,mr_harrington_w_hood,hoodie,garment_upper_body,solid,black,dark,black,jacket_street,menswear,mens_outerwear,outdoor

In [30]:
articles_df.to_csv('./data/transformed_articles_df.csv', index=False)

### Customers Preprocessing

In [ ]:
customers_df.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [31]:
customers_df.isnull().sum()

customer_id                    0
FN                        895050
Active                    907576
club_member_status          6062
fashion_news_frequency     16009
age                        15861
postal_code                    0
dtype: int64

In [32]:
customers_df.describe()

             FN    Active           age
count  476930.0  464404.0  1.356119e+06
mean        1.0       1.0  3.638696e+01
std         0.0       0.0  1.431363e+01
min         1.0       1.0  1.600000e+01
25%         1.0       1.0  2.400000e+01
50%         1.0       1.0  3.200000e+01
75%         1.0       1.0  4.900000e+01
max         1.0       1.0  9.900000e+01

In [33]:
for key in ["club_member_status", "fashion_news_frequency"]:
    for val in customers_df[key].unique():
        print(f"{key}={val}")
        display(customers_df[customers_df[key] == val])

club_member_status=ACTIVE

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
...,...,...,...,...,...,...,...
1371974,ffffaff3905b803d1c7e153a1378a5151e1f34f236ba54...,1.0,1.0,ACTIVE,Regularly,21.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...

club_member_status=nan

Empty DataFrame
Columns: [customer_id, FN, Active, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

club_member_status=PRE-CREATE

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
25,000114c6996ef5703a8d455faf2103f8488d3928348e07...,1.0,1.0,PRE-CREATE,Regularly,40.0,364bc321c321e34c5a94d539f8614609aa3d59fc5bbceb...
34,00019d6c20e0fbb551af18c57149af4707ec016bb0decd...,NaN,NaN,PRE-CREATE,NONE,55.0,1fd5eb222d4cc8407054f34fdfc7a353b9b71a7735c4d5...
48,0002697f519fce0a41f12929696aad2cda5b3a05248961...,NaN,NaN,PRE-CREATE,NONE,33.0,475170c26e9e4a76c97dc0f3dea0e8c456a8835726c495...
49,00026b2e6fa592951b3f1f5b24fea406a356d23e84fc80...,NaN,NaN,PRE-CREATE,NONE,60.0,db68cb2c2df9bf5161f3220f4d784e1a56e6da3f67e901...
95,00041bd4c669adc077b6488a2d23ee229a9ad962ab3ee7...,NaN,NaN,PRE-CREATE,NONE,58.0,ea731df2fc7625e27cb20ea1a17bb3255ddb125ef35459...
...,...,...,...,...,...,...,...
1371933,fffd5330e36a95750bd023e6f146ebbc4d2838a6e75cb2...,NaN,NaN,PRE-CREATE,NONE,23.0,0f416f49d3fe0e8da43dc61418fadab9406734832617bb...
1371944,fffdfad0d0527fa55b97f0d2f2ae4b2e659de8345bfd73...,NaN,NaN,PRE-CREATE,NONE,22.0,33abca44736680635058d1041795f5eeb1a88237059465...
1371954,fffebb3ec427e5f7a4220d95878d42d4227cb3bc4cfa7e...,NaN,NaN,PRE-CREATE,NONE,53.0,a9622ca8d61a565ccf41ee677a1eabd2cb65c937d38e21...
1371957,fffec7f7e9bc9270d49b39c870feba01d9367c53b31f54...,NaN,NaN,PRE-CREATE,NONE,47.0,bdcce24e89a9f810e2b10efa54e36013c3795e168ddd18...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

club_member_status=LEFT CLUB

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
5166,00fa6e1d4a247e2c81996af566b8aafd5cf766121d6906...,NaN,NaN,LEFT CLUB,NONE,39.0,03054b9069cb7830e9084980e96afc5ee220c395659f5d...
5496,0108c5cb6d8a9103de36474ffc70c508fa9c361fc90b05...,NaN,NaN,LEFT CLUB,NONE,53.0,b1d7e3725c3e52e48b03dd9fb1dca2f48272b43ea12c53...
11359,021c897da6d36da705952b4ecc46e641b811e094d67f68...,NaN,NaN,LEFT CLUB,NONE,19.0,f3ed5b9f7351a622b27771a8a774b18d3fdf72e8a2824d...
11437,02206adfebc3ceec651aee86a3cbb7db83bdbd44aff406...,NaN,NaN,LEFT CLUB,NONE,71.0,4e6b8bb7b24bef6613f27a7dff9d1f7e2529e8fb5afe71...
14862,02c3a111a4fce8b061a6baad19f1ca5322c3bea8386253...,NaN,NaN,LEFT CLUB,NONE,29.0,d9cd3c751184e4e1bdd644ff460a7914f0ea412a929125...
...,...,...,...,...,...,...,...
1363277,fe5d81720a2ad64193c11617c7cfd069fc61d22f369837...,NaN,NaN,LEFT CLUB,NONE,61.0,446e24226e1385f8196498423acf5492cc970c35930124...
1366567,fef8818faad84d92289fec9432ca848e56fb87e76073e9...,NaN,NaN,LEFT CLUB,NONE,25.0,79a0e01f5c80c1a5d4b79599a1cda82d911b7454176128...
1367105,ff128a0ed5bde04a8105c5d24fd2d141bca7cd1c3490c1...,NaN,NaN,LEFT CLUB,NONE,44.0,719b891c5f4670362f8926e240c87dd3da7b253b2d8193...
1370919,ffcc4dd5f7d2dc78a86729c8d6133debd17671cbbc52a8...,NaN,NaN,LEFT CLUB,NONE,45.0,1dde45116c3d44d78ec1a94662a328c997d5b5df137dee...
1371159,ffd7d77fb2d081a05c849bc78a1a1550ff663d7a483bae...,1.0,NaN,LEFT CLUB,Regularly,38.0,c6e5ec13b754e173769cedd13b982d1daf6e9f6b5266d7...

fashion_news_frequency=NONE

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
6,0000757967448a6cb83efb3ea7a3fb9d418ac7adf2379d...,NaN,NaN,ACTIVE,NONE,20.0,fe7b8e2b3fafb89ca90db17ffeeae0fd29b795d803f749...
...,...,...,...,...,...,...,...
1371968,ffff4c4e8b57b633c1ddf8fbd53db16b962cf831baf9ed...,NaN,NaN,ACTIVE,NONE,40.0,3b4a300713f8b142836a67caa5b6d5b3f10a7650c06820...
1371972,ffff8f9ecdce722b5bab97fff68a6d1866492209bfe524...,NaN,NaN,ACTIVE,NONE,52.0,0de9d1ec7dc785301ca5fbe8949cfc2cfbd77e7a807270...
1371975,ffffbbf78b6eaac697a8a5dfbfd2bfa8113ee5b403e474...,NaN,NaN,ACTIVE,NONE,24.0,7aa399f7e669990daba2d92c577b52237380662f36480b...
1371976,ffffcd5046a6143d29a04fb8c424ce494a76e5cdf4fab5...,NaN,NaN,ACTIVE,NONE,21.0,3f47f1279beb72215f4de557d950e0bfa73789d24acb5e...
1371979,ffffd9ac14e89946416d80e791d064701994755c3ab686...,NaN,NaN,PRE-CREATE,NONE,65.0,0a1a03306fb2f62164c2a439b38c0caa64b40deaae8687...

fashion_news_frequency=Regularly

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...
7,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...
13,00009d946eec3ea54add5ba56d5210ea898def4b46c685...,1.0,1.0,ACTIVE,Regularly,56.0,b31984b20a8c478de38eaf113c581ff64e63c4242e607b...
14,0000ae1bbb25e04bdc7e35f718e852adfb3fbb72ef38b3...,1.0,1.0,ACTIVE,Regularly,29.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
15,0000b2f1829e23b24feec422ef13df3ccedaedc85368e6...,1.0,1.0,ACTIVE,Regularly,54.0,ca8ca81e8b5794992144273b0eada83a7e09ec728c1093...
...,...,...,...,...,...,...,...
1371971,ffff7d65748db4d52e48b74c8f83ccb0029fc3bbafa511...,1.0,1.0,ACTIVE,Regularly,20.0,fffd995029b0b165c5627978bb20268fa4bb2257560931...
1371973,ffffa28cd7ab5d1cbbbfe7b582b1c419270cc0539f3dae...,1.0,1.0,ACTIVE,Regularly,22.0,e89f7536a3d1ff494b6324604db93646fca956d85f8e83...
1371974,ffffaff3905b803d1c7e153a1378a5151e1f34f236ba54...,1.0,1.0,ACTIVE,Regularly,21.0,2c29ae653a9282cce4151bd87643c907644e09541abc28...
1371977,ffffcf35913a0bee60e8741cb2b4e78b8a98ee5ff2e6a1...,1.0,1.0,ACTIVE,Regularly,21.0,4563fc79215672cd6a863f2b4bf56b8f898f2d96ed590e...
1371978,ffffd7744cebcf3aca44ae7049d2a94b87074c3d4ffe38...,1.0,1.0,ACTIVE,Regularly,18.0,8892c18e9bc3dca6aa4000cb8094fc4b51ee8db2ed14d7...

fashion_news_frequency=nan

Empty DataFrame
Columns: [customer_id, FN, Active, club_member_status, fashion_news_frequency, age, postal_code]
Index: []

fashion_news_frequency=Monthly

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
5040,00f38d434368a5872c481d64d1f3b2289f3ed4d2cb5d99...,1.0,1.0,ACTIVE,Monthly,48.0,fed79dd607669cb0b9205ef909f87ec433f2c49a44f41b...
6412,01318a0ceef3dd69af82d134a96b6b00ee73693bf72cab...,1.0,1.0,ACTIVE,Monthly,34.0,e7d38730139c0bcbe836cb017cc0423b533b6db34c6807...
6523,0136c28ff3d96e5a5ef25cf5281114d80ab51fc89987eb...,1.0,1.0,ACTIVE,Monthly,34.0,991c917260c114d30d7c8ed76ac4306ef0c9f8d5205911...
6560,01387afda07032df0f33f86bdbd1b09df918241ef7db9b...,1.0,1.0,ACTIVE,Monthly,62.0,114f0d0069a2a2cccfe7b72e917d46412b33103c494742...
9771,01cecf8865bc39b0a7c8af386c2aa0cd7c3fc18d61f344...,1.0,1.0,ACTIVE,Monthly,27.0,f680358c8948524daef52657d1d6f791eb0e4b0e057290...
...,...,...,...,...,...,...,...
1366503,fef5935e8f60e59874ddc8692172b6ac0d61c6dc4241a6...,1.0,1.0,ACTIVE,Monthly,46.0,42f5025eb7aa591c5ae52dbbe2e3cbf6bab47e029a3848...
1366979,ff0c9eab0a7e15a3aa5d541dce7a5ab2bc947f69c8ff00...,1.0,1.0,ACTIVE,Monthly,30.0,5a1f05bfffbc43cf1f875a353cd7e2d8c8794fe2752d08...
1367297,ff1b951242dfefe9ff85631499c425d7ba7eb4e164a1ac...,1.0,1.0,ACTIVE,Monthly,30.0,6ab8da56290ff3d778e9d9e98dd0a0feedeb688664aa9c...
1370406,ffb3d2f2b9b3c371e91acdf8438a5306dc04989e7b6192...,1.0,1.0,ACTIVE,Monthly,26.0,0c264688d9d09cc4f8a797d068fd39bb066b8154f146d4...
1371259,ffdcf6f2b4e1fe52c86c8ed721559474ac112a04f279e5...,1.0,1.0,ACTIVE,Monthly,56.0,169271562669ae32fc812bd0d76acb95d6d836cf196b66...

fashion_news_frequency=None

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
898114,a79d9cbfaceb0d25a91caccfad167d4d6391fd5bb4292b...,1.0,NaN,ACTIVE,None,38.0,58b7c5c27f8b5e8118a9786379601a344ab2e141550d93...
1356686,fd2371195b3d046afbb75fb0b9b6a3386275aaae19cd5a...,1.0,1.0,ACTIVE,None,64.0,170a318776b1acf12fb92fe25eb39ff88fd363b530573e...

In [34]:
customers_map_df = customers_df.copy()
customers_map_df["club_member_status"] = customers_map_df["club_member_status"].map({
    "ACTIVE": "active",
    "LEFT CLUB": "left_club",
    "PRE-CREATE": "precreate"
})
customers_map_df["fashion_news_frequency"] = customers_map_df["fashion_news_frequency"].map({
    "Regularly": "regularly",
    "Monthly": "monthly"
})
customer_transformer = ColumnTransformer(
    transformers = [
        (
            'encode_categorical',
            OneHotEncoder(),
            ["club_member_status", "fashion_news_frequency"]
        ),
        (
            'impute_age',
            SimpleImputer(),
            ["age"]
        ),
        (
            'passthrough_metadata',
            'passthrough',
            ["customer_id", "postal_code"]
        ),
        (
            'drop_misc',
            'drop',
            ["FN", "Active"]
        )
    ],
    sparse_threshold=0,
    verbose_feature_names_out=False
).fit(customers_map_df)

transformed_customers_df = pd.DataFrame(customer_transformer.transform(customers_map_df), columns=customer_transformer.get_feature_names_out())
display(transformed_customers_df.isnull().sum())
display(transformed_customers_df.describe())
transformed_customers_df
transformed_customers_df.to_csv('./data/transformed_customers_df.csv', index=False)

club_member_status_active           0
club_member_status_left_club        0
club_member_status_precreate        0
club_member_status_nan              0
fashion_news_frequency_monthly      0
fashion_news_frequency_regularly    0
fashion_news_frequency_nan          0
age                                 0
customer_id                         0
postal_code                         0
dtype: int64

,club_member_status_active,club_member_status_left_club,club_member_status_precreate,club_member_status_nan,fashion_news_frequency_monthly,fashion_news_frequency_regularly,fashion_news_frequency_nan,age,customer_id,postal_code
count,1371980.0,1371980.0,1371980.0,1371980.0,1371980.0,1371980.0,1371980.0,1371980.0,1371980,1371980
unique,2.0,2.0,2.0,2.0,2.0,2.0,2.0,85.0,1371980,352899
top,1.0,0.0,0.0,0.0,0.0,0.0,1.0,21.0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,2c29ae653a9282cce4151bd87643c907644e09541abc28...
freq,1272491.0,1371513.0,1279020.0,1365918.0,1371138.0,894564.0,893722.0,67530.0,1,120303

### Spark Join

In [ ]:
# TESTING PURPOSES ONLY
# Perform joins on samples and verify output
spark = SparkSession.builder.getOrCreate()

sample_cust_spark_df = spark.read.format("csv").option("header", "true").load("./spark_test_data/cust_sample.csv")
sample_art_spark_df = spark.read.format("csv").option("header", "true").load("./spark_test_data/articles_sample.csv")
sample_txn_spark_df = spark.read.format("csv").option("header", "true").load("./spark_test_data/txn_sample.csv")

joined_customer_transactions_df = sample_txn_spark_df.join(sample_cust_spark_df, on="customer_id")
joined_sample_df = joined_customer_transactions_df.join(sample_art_spark_df, on=['article_id'], how='inner')

joined_sample_df.write.csv("./spark_test_data/output", mode='overwrite', header=True)

In [36]:
# Perform joins on full df
spark = SparkSession.builder.getOrCreate()

spark_customer_df = spark.read.format("csv").option("header", "true").load("./data/transformed_customers_df.csv")
spark_articles_df = spark.read.format("csv").option("header", "true").load("./data/transformed_articles_df.csv")
spark_transactions_df = spark.read.format("csv").option("header", "true").load("./data/transformed_transactions_df.csv")

joined_cust_trans_df = spark_transactions_df.join(spark_customer_df, on="customer_id")
joined_df = joined_cust_trans_df.join(spark_articles_df, on=['article_id'], how='inner')

In [37]:
joined_df.coalesce(1).write.csv("./data/joined_dataframe", mode='overwrite', header=True)

23/04/26 16:02:37 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

In [26]:
print(joined_df.head(1))

[Row(article_id='0147339034', customer_id='e8769150304d10862f5d4de22e461a4c6e435bd4dcc58fa146949d5e52638c88', t_dat='2018-12-14', price='0.03049152542372881', sales_channel_id='2', FN='1.0', Active='1.0', club_member_status='ACTIVE', fashion_news_frequency='Regularly', age='66', postal_code='9b24635b57ae2535445a00d7534066aa385a17317616d15d61da8527341dddf5', product_code='0147339', prod_name='6P SS BODY', product_type_no='256', product_type_name='Bodysuit', product_group_name='Garment Upper body', graphical_appearance_no='1010001', graphical_appearance_name='All over pattern', colour_group_code='10', colour_group_name='White', perceived_colour_value_id='3', perceived_colour_value_name='Light', perceived_colour_master_id='9', perceived_colour_master_name='White', department_no='6515', department_name='Baby basics', index_code='G', index_name='Baby Sizes 50-98', index_group_no='4', index_group_name='Baby/Children', section_no='44', section_name='Baby Essentials & Complements', garment_group_no='1002', garment_group_name='Jersey Basic', detail_desc='Short-sleeved bodysuits in organic cotton jersey with press-studs at the crotch.')]

In [27]:
print(joined_df.columns)

['article_id', 'customer_id', 't_dat', 'price', 'sales_channel_id', 'FN', 'Active', 'club_member_status', 'fashion_news_frequency', 'age', 'postal_code', 'product_code', 'prod_name', 'product_type_no', 'product_type_name', 'product_group_name', 'graphical_appearance_no', 'graphical_appearance_name', 'colour_group_code', 'colour_group_name', 'perceived_colour_value_id', 'perceived_colour_value_name', 'perceived_colour_master_id', 'perceived_colour_master_name', 'department_no', 'department_name', 'index_code', 'index_name', 'index_group_no', 'index_group_name', 'section_no', 'section_name', 'garment_group_no', 'garment_group_name', 'detail_desc']